#contact {
  background: url(../assets/images/Background_Contacts.png) no-repeat center/cover;
  height: 100vh;
  text-align: center;
  padding-block: 12.8rem 20rem;

  h2 {
    margin-block: 0.8rem;
  }

  #social-links {
    margin: 4.8rem auto 0px;
    max-width: 40rem;
    row-gap: 2rem;
    
    a {
      margin-top: 1.6rem;
      background-color: var(--gray-300);
      padding: 2rem;
      border-radius: 0.8rem;
      border: 1.5px solid var(--gray-300);

      display: flex;
      justify-content: space-between;
      text-decoration: none;

      div {
        display: flex;
        align-items: center;
        gap: 1.2rem;
      } 

      div span {
        width: 2.8rem;
        aspect-ratio: 1/1;

        &.linkedin {
          background: url(../assets/icons/LinkedinLogo.svg) center/contain;
        }
        
        &.instagram {
          background: url(../assets/icons/InstagramLogo.svg) center/contain;
        } 
        
        &.github {
          background: url(../assets/icons/GithubLogo.svg) center/contain;
        }
        
        &.email {
          background: url(../assets/icons/EnvelopeSimple.svg) center/contain;
        }
      }


      span {
        background: url(../assets/icons/ArrowUpRight.svg) center/contain;
        width: 2rem;
        
      }
    }

    a:hover {
      border: 1.5px solid var(--blue);

      div span {
        &.linkedin {
          background: url(../assets/icons/LinkedinLogo-hover.svg) center/contain;
        }
        
        &.instagram {
          background: url(../assets/icons/InstagramLogo-hover.svg) center/contain;
        } 
        
        &.github {
          background: url(../assets/icons/GithubLogo-hover.svg) center/contain;
        }
        
        &.email {
          background: url(../assets/icons/EnvelopeSimple-hover.svg) center/contain;
        }
      }

      span {
        background: url(../assets/icons/ArrowUpRight-hover.svg) center/contain;
      }
    }
  }
}